

<div class="newsletter">

<h4>Stay informed and subscribe</h4>

{% if page.handle == 'the-language-of-love' %}
<p>for the latest episodes, freebies,  discount codes on Dr. Berman's products & much more!</p>
{% else %}
{% endif %}


  <form action="https://drlauraberman.us3.list-manage.com/subscribe/post?u=c3d4c8a1a97bc534fc4c45912&amp;id=cbbad62435" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate class="contact-form">
     
    	<input type="email" value="" name="EMAIL" class="newsletter-input required email" id="mce-EMAIL" placeholder="Email address">

      <button class="newsletter-submit" name="subscribe" type="submit">Subscribe »</button>
    
  </form>
</div>

