<section class="quote">
<span class="quotation"></span>
    <p>When you step outside your comfort zone a little bit it can stimulate the dopamine centers of your brain to recreate those feelings of falling in love and increase your libido.</p>
    <span>Dr Laura Berman</span>
    <img class="quote-img" src="{{ 'laura-oprah.jpg' | asset_url }}" alt="Laura and Oprah" />
</section>