
<section class="testimonials">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Testimonials</h3>
                </div>
            </div>
            
            <div class="cd-testimonials-wrapper cd-container">
                <ul class="cd-testimonials">
               
                    
                    <li>
                        <p>Dr. Berman, you are the reason John and I are still together. I don't know how to ever thank you for your wisdom, your guidance, and your inspiration. I had lost all hope, but you turned us around, got us on the same page, and gave us the tools we need to create the relationship I've always wanted. Thank you!<br /> <br /><span class="testimonial-name">Ellen</span></p>

                    </li>            
                    
                    
                    <li>
                        <p>" I cannot tell you how grateful I am to have met you. I have never felt so at peace with who I am and I've honestly never felt like this before. I had no idea what to expect coming into this and what I have taken away from it exceeds my expectations."




						<br /> <br /><span class="testimonial-name">B Price</span>
						</p>
           
                    </li>            

                     <li>
                        <p>This could not be more of a heartfelt thank you from the bottom of our hearts. the world needs more people like you, not just as a therapist, but as a person too. You have a gift for helping mend people and their relationships. For that we will be forever grateful.







						<br /> <br /><span class="testimonial-name">Sarah and Scott (and baby Addison too!)</span>
						</p>
           
                    </li>    


                     <li>
                        <p>I just wanted to thank you from the very bottom of my heart (our hearts)!!! My wife, Cathy, and I married right out of college, we both felt we were soul mates from the very first date we ever had. We've been married over 44 years, but, YOU, Dr. Berman have given us a truly spectacular sex life!!!!


						<br /> <br /><span class="testimonial-name">Bill and Cathy M</span>
						</p>
           
                    </li>   

                     <li>
                        <p>You are so easy to talk to about such a touchy subject between a husband and wife. Dr. Berman, you stopped a family from splitting us and put us "back on track." I can honestly say you will never be forgotten.
						<br /> <br /><span class="testimonial-name">Jack and Michelle</span>
						</p>
           
                    </li>  										                   
                </ul> <!-- cd-testimonials -->
            
            </div> <!-- cd-testimonials-wrapper -->
</div>

</section>



