<!--
<h3>Workshops</h3>

<div class="section group workshops">
	<div class="col span_1_of_3">
		<a href="/pages/workshops"><img class="circular--square workshop-image" src="{{ 'ecstasy-unleashed.jpg' | asset_url }}" alt="Dr laura Berman" /></a>
		<div class="workshop">
			<h4>Ecstasy Unleashed</h4>
			<p>Jump Start Your Sex Life with Dr. Laura Berman & Anela Lineham</p>
			<a class="article-excerpt-read-more" href="/pages/workshops">
				<span class="article-excerpt-read-more-text">Find Out More</span>
				<span class="article-excerpt-read-more-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
				<path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path></svg></span>
			</a>
		</div>
	</div> -->
	<!--
	<div class="col span_1_of_3">
		<img class="circular--square workshop-image" src="{{ 'unleashing-inner-vixen.jpg' | asset_url }}" alt="Dr laura Berman" />
		<div class="workshop">
			<h4>Unleashing your Inner Vixen</h4>
			<p>If you feel like you are stuck in a rut and you can’t access your sexual power (or you wonder if it even exists), this workshop is for you!</p>
			<a class="article-excerpt-read-more" href="#">
				<span class="article-excerpt-read-more-text">Read article</span>
				<span class="article-excerpt-read-more-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
				<path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path></svg></span>
			</a>		
		</div>
	</div>
	<div class="col span_1_of_3">
		<img class="circular--square workshop-image" src="{{ 'girl-power.jpg' | asset_url }}" alt="Dr laura Berman" />
		<div class="workshop">
			<h4>Girl Power</h4>
			<p>This is a wonderful workshop for the amazing women in your life. It’s ideal for moms and daughters, best friends, sisters, roommates, etc.</p>
			<a class="article-excerpt-read-more" href="#">
				<span class="article-excerpt-read-more-text">Read article</span>
				<span class="article-excerpt-read-more-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
				<path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path></svg></span>
			</a>		
		</div>
	</div>
	-->
</div>