{% capture captured_page %}
<article class="page">
  {% include 'masthead', title: page.title %}
	
  
  <div class="page-content rte">
        
    <div id="surveyContainer"></div>  
    
 
  </div>
</article>

<div id="resultContainer" style="display:none">
  <h3>Thank you for taking the quiz!  Now we can send you targeted information!</h3>
  	
  <h4 style="text-align: center;">Join premium page with exclusive content <a href="/pages/premium">here</a></h4>
  <span style="text-align: center;display: inherit;">Enter using password <b>Sex_body-soul</b></span>
  
</div>

<section class="section-blog" id="spiritual" style="display:none">
  <h3>SPIRITUAL CONNECTION</h3>
  <p>It’s clear that you are interested in creating a deeper spiritual connection in service to living your best love life!<br/>
    Here are some materials to get started and I will be sure to keep sending you materials and videos that will help you build this important part of you love and sex life.</p>
  <div class="article-excerpts" data-article-excerpts>
    	<div class="article-excerpt-masonry-item-sizer" data-article-excerpt-masonry-item-sizer></div>
    	<div class="article-excerpt-masonry-gutter-sizer" data-article-excerpt-masonry-gutter-sizer></div>
    
      	{%- include 'article-quiz', article: articles['news/male-childhood-abuse-survivors-suffer-increased-heart-attack-risk'] -%}
        {%- include 'article-quiz', article: articles['news/can-you-change-your-past'] -%}
        {%- include 'article-quiz', article: articles['news/heres-why-there-is-no-such-thing-as-no-strings-attached-sex'] -%}
        {%- include 'article-quiz', article: articles['news/how-to-become-truly-free'] -%}
        {%- include 'article-quiz', article: articles['news/heres-how-to-get-into-a-sexy-playful-mood-after-a-stressful-work-day'] -%}
        {%- include 'article-quiz', article: articles['news/sex-and-the-brain'] -%}
  	  </div>
</section>

<section class="section-blog" id="sexual_mastery" style="display:none">
  <h3>SEXUAL MASTERY</h3>
  <p>It seems like you are interested in taking your sex life to the next level and I am here to support you with that.<br/>Here are
some materials to get started and I will keep sending you more to help you learn all you need to know about spicing things up in the bedroom and beyond!</p>
  <div class="article-excerpts" data-article-excerpts>
    	<div class="article-excerpt-masonry-item-sizer" data-article-excerpt-masonry-item-sizer></div>
    	<div class="article-excerpt-masonry-gutter-sizer" data-article-excerpt-masonry-gutter-sizer></div>
    
      	{%- include 'article-quiz', article: articles['news/a-man-s-guide-to-the-clitoris'] -%}
        {%- include 'article-quiz', article: articles['news/7-tips-for-unleashing-your-inner-vixen'] -%}
        {%- include 'article-quiz', article: articles['news/all-about-the-clitoris'] -%}
        {%- include 'article-quiz', article: articles['news/10-tips-for-the-best-orgasms'] -%}
        {%- include 'article-quiz', article: articles['news/what-you-need-to-know-before-you-get-a-brazilian-wax'] -%}
        {%- include 'article-quiz', article: articles['news/debunking-myths-about-sex-toys'] -%}
    	{%- include 'article-quiz', article: articles['news/how-to-reach-orgasm'] -%}
    	{%- include 'article-quiz', article: articles['news/choking-in-the-bedroom-why-this-porn-driven-trend-has-so-many-women-frightened-during-sex'] -%}
  	  </div>
</section>

<section class="section-blog" id="finding_love" style="display:none">
	<h3>FINDING LOVE</h3>
  <p>You long to create and/or find the kind relationship that lifts you up, honors you, and reflects your deepest desires in love. 
    You are not alone and I am here to help.<br/>Here are some resources and materials to get you started and I will keep sending you more to help set you up to create the love life you truly deserve!</p>
  <div class="article-excerpts" data-article-excerpts>
    	<div class="article-excerpt-masonry-item-sizer" data-article-excerpt-masonry-item-sizer></div>
    	<div class="article-excerpt-masonry-gutter-sizer" data-article-excerpt-masonry-gutter-sizer></div>
    
      	{%- include 'article-quiz', article: articles['news/the-real-reason-love-is-so-hard-to-find'] -%}
        {%- include 'article-quiz', article: articles['news/addicted-to-tinder-new-study-says-online-dating-can-be-dangerous-for-mental-health'] -%}
        {%- include 'article-quiz', article: articles['news/dating-and-the-role-of-testosterone'] -%}
        {%- include 'article-quiz', article: articles['news/do-women-prefer-bald-men'] -%}
        {%- include 'article-quiz', article: articles['news/time-to-jump-start-your-feminine-power-5-ways-to-connect-to-your-inner-woman-warrior'] -%}
        {%- include 'article-quiz', article: articles['news/the-introverts-survival-guide'] -%}
    	{%- include 'article-quiz', article: articles['news/an-open-letter-to-men-on-how-to-love-a-woman'] -%}
    	{%- include 'article-quiz', article: articles['news/why-men-never-get-compliments-and-why-that-needs-to-change'] -%}
  	  </div>
</section>


<!-- Begin Mailchimp Signup Form -->

<form style="display:none;" action="https://drlauraberman.us3.list-manage.com/subscribe/post?u=c3d4c8a1a97bc534fc4c45912&amp;id=6fa2d17df8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate hiddenForm" target="_blank" novalidate>
    
  	 <input type="hidden" name="u" value="c3d4c8a1a97bc534fc4c45912">
     <input type="hidden" name="id" value="6fa2d17df8">
     <input type="text" name="b_c3d4c8a1a97bc534fc4c45912_6fa2d17df8" tabindex="-1" value="">
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
</form>


<!--End mc_embed_signup-->


{% endcapture %}
{% include 'password-protect' %}