{% capture captured_page %}
<article class="page">

  <div>
    <p><strong>Challenge accepted:</strong> You asked, and I answered! Here are all of your burning sex, love, and relationship questions answered in one place, in one minute or less! Join me as I take on the most common FAQs I get from clients, friends, and fans.</p>


    <p>If you have 60 seconds to spare, I can help you make your love life more fulfilling and more meaningful. From orgasms to anal sex to menopause to STIs to oral sex to BDSM, this is THE place to get all of your questions answered with simple, actionable, science-based advice. Are you ready? Let’s have some fun!</p>  
    
  </div>

  <div class="" >
    
    
    <div class="search-section-form">
    <form class="search-form" id="searchForm">
      <select id="filterSelect">
        <option value="">Filter by topic</option>
        <option value="Women's Health">Women's Health</option>
        <option value="Relationship Advice ">Relationship Advice </option>
      </select>
    </form>
  </div>
    
    
    <ul class="youtube-videogallery">
      
      <li data-topic="Relationship Advice "><a href="https://www.youtube.com/watch?v=3ZO95jzXWuQ&ab_channel=Dr.LauraBerman">Should I Have A Threesome? </a></li>
      <li data-topic="Relationship Advice "><a href="https://www.youtube.com/watch?v=TNQjogRyW3Q&ab_channel=Dr.LauraBerman">They're Never In The Mood... </a></li>
      <li data-topic="Relationship Advice "><a href="https://www.youtube.com/watch?v=gFSS7RZCRRg&ab_channel=Dr.LauraBerman">How Can I Have Sex Again After A Herpes Diagnosis? </a></li>
      <li data-topic="Relationship Advice "><a href="https://www.youtube.com/watch?v=w0rjKhGMU7o">Should You Have A One Night Stand? </a></li>
      <li data-topic="Relationship Advice "><a href="https://www.youtube.com/watch?v=PdocRuGO0iY&ab_channel=Dr.LauraBerman">Can You Really Be Friends With the Opposite Sex? </a></li>
      <li data-topic="Relationship Advice "><a href="https://www.youtube.com/watch?v=SXgZ6CYu8hQ&ab_channel=Dr.LauraBerman">How do I get over infidelity? </a></li>
      <li data-topic="Relationship Advice "><a href="https://www.youtube.com/watch?v=YHqG0VC4Qjo&ab_channel=Dr.LauraBerman">How do I get my in-laws to stop interfering? </a></li>
      <li data-topic="Relationship Advice "><a href="https://www.youtube.com/watch?v=njPVmJx4770&ab_channel=Dr.LauraBerman">How do I Tell My Partner To Lose Weight? </a></li>
      <li data-topic="Relationship Advice "><a href="https://www.youtube.com/watch?v=kVzb7_VC-OQ&ab_channel=Dr.LauraBerman">Can A Sex Toy Ruin My Sex Life? </a></li>
      <li data-topic="Women's Health"><a href="https://www.youtube.com/watch?v=23HZANokjFM&ab_channel=Dr.LauraBerman">Reclaiming Sex Life After Having A Baby </a></li>
      <li data-topic="Relationship Advice "><a href="https://youtube.com/watch?v=SFIQDOJktNU">Is It Cheating To Watch Porn? </a></li>
      <li data-topic="Women's Health"><a href="https://youtube.com/watch?v=auTNYVlW6mM">Should I Give My Daughter A Vibrator? </a></li>
      <li data-topic="Women's Health"><a href="https://www.youtube.com/watch?v=tPhsgT6pEX4">Is It Safe To Have Sex On your Period? </a></li>
      <li data-topic="Relationship Advice "><a href="https://www.youtube.com/watch?v=6LewFD4AJv4">Should I tell my partner 'my number'?</a></li>

	</ul>
    
    
  </div>
</article>


{% endcapture %}
{% include 'password-protect' %}